/Users/aryanjha/Desktop/GenAI hack/__pycache__

/Users/aryanjha/Desktop/GenAI hack/.venv

/Users/aryanjha/Desktop/GenAI hack/.gitignore

/Users/aryanjha/Desktop/GenAI hack/uv.lock

/Users/aryanjha/Desktop/GenAI hack/.env

